!!! XML
!!!
%html
  %head
    %title Office Party
    %link{ :type => "text/css", :href  => "/stylesheets/main.css", :rel => 'stylesheet', :media => 'all' }
    %script{ :type => "text/javascript", :src  => "/javascripts/prototype.js" }
    %script{ :type => "text/javascript", :src  => "/javascripts/application.js" }
  %body
    = yield